.amountValue {
  text-align: center;
  font-size: 30px;
}

.slider {
  width: 90%;
  margin: auto;

  @media only screen and (min-width: 1024px) {
    width: 60%;
  }

  @media only screen and(min-width: 767px) and (max-width: 1023px) {
    width: 80%;
  }
}

.detailDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;

  @media only screen and(min-width: 767px) {
    flex-direction: row;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 16px 25px;
  display: flex;
  margin: 20px 30px 0;
  flex-direction: column;
  text-align: center;

  @media only screen and(min-width: 767px) and (max-width: 1023px) {
    width: 80%;
  }

  @media only screen and(min-width: 1023px) {
    margin: 0;
  }
}

.selector {
  margin: auto;
  width: 50%;
  @media only screen and(min-width: 767px){
    width: 30%;
  }
}

.totalPayable {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  height: 61px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 8px;
  flex-direction: column;
  border: 1px solid green;

  @media only screen and(min-width: 1023px) {
    width: 20%;
  }
}

.totalAmount {
  margin: auto;
  font-size: 30px;
}

.error {
  border-radius: 5px;
  width: 50%;
  border: 1px solid #d47d7d;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.lastcard {
  @media only screen and(min-width: 1023px) {
    margin-left: 10px;
  }
}
